/* DonorDashboard.jsx */

.donor-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 64px;
  background: white;
  display: flex;
  align-items: center;

  margin-left: 310px;
  margin-right: 310px;
  padding-left: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  z-index: 1000;

  background-color: #F3D8AE;
}
